{% if testmode %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ text_testmode }}</div>
{% endif %}

{% if data.href %}
    <script>
        window.location.href = data.href;
    </script>
{% else %}
    支付接口出错
{% endif %}
